form {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    input[type=text] {
        width: 50%;
        margin: 0 auto;
    }
}