 @media only screen and (max-width: 1090px){
    // form
    form {
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
        input[type=text] {
            width: 100%;
        }
    }
} 

@media only screen and (max-width: 985px) {
// form
    input[type=text]{
        width: 43%;
    }
}

@media only screen and (max-width: 850px) {
// form
    .main-submit {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    // general styles
    h1 {
        font-size: 5rem;
    }

    // main

    .aside-containers {
        width: 49.5%;
    }
}

@media only screen and (max-width: 620px){
    // main
    
    .info-container {
        flex-direction: column-reverse;;
    }
    
    #first-aside, #second-aside {
        width: 100%;
        margin: 0 auto;
    }
    // buttons
    .compare-link-container button, .refresh-link-container a {
        padding: 5px 35px;
    }
}

@media only screen and (max-width: 410px) {
    // general styles
    h1 {
        font-size: 4rem;
    }

    // buttons
    .compare-link-container button, .refresh-link-container a {
        padding: 5px 15px;
    }
}