@import "setup";
@import "aside-styles";
@import "form";
@import "buttons";
@import "header";

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
/*     background: linear-gradient(rgba(255, 102, 0, 0.904)50%, rgba(255, 145, 0, 0.5)50%); */
    background: orange;
    height: 100vh;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

// typography

h1 {
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    color: white;
}